### Libraries

In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

### Carga de datos

In [2]:
# Se carga el data frame
df =  pd.read_csv('../Data/Train_MAE_Regression.csv')
# Se elimina la primera columna
del df['Unnamed: 0']
# Se imprime el df
df

,SalePrice,YearBuilt,YrSold,MonthSold,Size.sqf.,Floor,HallwayType,HeatingType,AptManageType,N_Parkinglot.Ground.,...,N_FacilitiesNearBy.Mall.,N_FacilitiesNearBy.ETC.,N_FacilitiesNearBy.Park.,N_SchoolNearBy.Elementary.,N_SchoolNearBy.Middle.,N_SchoolNearBy.High.,N_SchoolNearBy.University.,N_FacilitiesInApt,N_FacilitiesNearBy.Total.,N_SchoolNearBy.Total.
0,141592,2006,2007,8,814,3,terraced,individual_heating,management_in_trust,111,...,1,1,0,3,2,2,2,5,6,9
1,51327,1985,2007,8,587,8,corridor,individual_heating,self_management,80,...,1,2,1,2,1,1,0,3,12,4
2,48672,1985,2007,8,587,6,corridor,individual_heating,self_management,80,...,1,2,1,2,1,1,0,3,12,4
3,221238,1993,2007,8,1761,3,mixed,individual_heating,management_in_trust,523,...,1,5,0,4,3,5,5,4,14,17
4,78318,1992,2007,8,644,2,mixed,individual_heating,self_management,142,...,1,1,0,3,3,4,4,3,9,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4119,482300,2007,2017,8,1643,4,terraced,individual_heating,management_in_trust,0,...,1,0,2,3,3,2,2,10,9,10
4120,511504,2007,2017,8,1643,19,terraced,individual_heating,management_in_trust,0,...,1,0,2,3,3,2,2,10,9,10
4121,298230,2006,2017,8,903,13,terraced,individual_heating,management_in_trust,123,...,1,2,0,4,3,3,1,4,8,11
4122,357522,2007,2017,8,868,20,terraced,individual_heating,management_in_trust,0,...,1,0,2,3,3,2,2,10,9,10
4123,312389,1978,2017,8,1327,1,corridor,individual_heating,self_management,87,...,1,0,0,3,3,3,2,3,7,11

1. ¿Cuantos registros se tienen?

In [3]:
df.shape
# se tienen 4.124 filas y 30 columnas

(4124, 30)

2. ¿Que tipos de datos se tienen en el Df?

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4124 entries, 0 to 4123
Data columns (total 30 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   SalePrice                           4124 non-null   int64
 1   YearBuilt                           4124 non-null   int64
 2   YrSold                              4124 non-null   int64
 3   MonthSold                           4124 non-null   int64
 4   Size.sqf.                           4124 non-null   int64
 5   Floor                               4124 non-null   int64
 6   HallwayType                         4124 non-null   object
 7   HeatingType                         4124 non-null   object
 8   AptManageType                       4124 non-null   object
 9   N_Parkinglot.Ground.                4124 non-null   int64
 10  N_Parkinglot.Basement.              4124 non-null   int64
 11  TimeToBusStop                       4124 non-null   object
 12  TimeToSubway                        4124 non-null   object
 13  N_APT                               4124 non-null   int64
 14  N_manager                           4124 non-null   int64
 15  N_elevators                         4124 non-null   int64
 16  SubwayStation                       4124 non-null   object
 17  N_FacilitiesNearBy.PublicOffice.    4124 non-null   int64
 18  N_FacilitiesNearBy.Hospital.        4124 non-null   int64
 19  N_FacilitiesNearBy.Dpartmentstore.  4124 non-null   int64
 20  N_FacilitiesNearBy.Mall.            4124 non-null   int64
 21  N_FacilitiesNearBy.ETC.             4124 non-null   int64
 22  N_FacilitiesNearBy.Park.            4124 non-null   int64
 23  N_SchoolNearBy.Elementary.          4124 non-null   int64
 24  N_SchoolNearBy.Middle.              4124 non-null   int64
 25  N_SchoolNearBy.High.                4124 non-null   int64
 26  N_SchoolNearBy.University.          4124 non-null   int64
 27  N_FacilitiesInApt                   4124 non-null   int64
 28  N_FacilitiesNearBy.Total.           4124 non-null   int64
 29  N_SchoolNearBy.Total.               4124 non-null   int64
dtypes: int64(24), object(6)
memory usage: 966.7+ KB

De lo anterior se puede observar que la base de datos cuenta con 4.124 registros y 31 columnas, 24 de ellas son enteras y las otras 6 de tipo texto.

## EDA

3. ¿ Cuales son las estadistísticas mas relevantes?

In [5]:
df.describe()

,SalePrice,YearBuilt,YrSold,MonthSold,Size.sqf.,Floor,N_Parkinglot.Ground.,N_Parkinglot.Basement.,N_APT,N_manager,...,N_FacilitiesNearBy.Mall.,N_FacilitiesNearBy.ETC.,N_FacilitiesNearBy.Park.,N_SchoolNearBy.Elementary.,N_SchoolNearBy.Middle.,N_SchoolNearBy.High.,N_SchoolNearBy.University.,N_FacilitiesInApt,N_FacilitiesNearBy.Total.,N_SchoolNearBy.Total.
count,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,...,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000,4124.000000
mean,221687.617847,2002.974782,2012.701988,6.162706,955.909069,12.064743,194.698836,571.570805,5.630213,6.305286,...,0.939137,1.936712,0.647915,3.024733,2.425315,2.661251,2.763579,5.828322,9.846266,10.874879
std,106353.186576,8.846158,2.903440,3.382476,376.905448,7.616469,218.142679,407.517420,2.785791,3.164986,...,0.397580,2.201276,0.658674,0.952609,1.036093,1.549081,1.485845,2.320461,3.453602,4.425508
min,32743.000000,1978.000000,2007.000000,1.000000,135.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,145464.250000,1993.000000,2010.000000,3.000000,644.000000,6.000000,11.000000,184.000000,3.000000,5.000000,...,1.000000,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000,4.000000,8.000000,7.000000
50%,207964.000000,2006.000000,2013.000000,6.000000,910.000000,11.000000,100.000000,536.000000,7.000000,6.000000,...,1.000000,1.000000,1.000000,3.000000,3.000000,2.000000,2.000000,5.000000,9.000000,10.000000
75%,291150.000000,2008.000000,2015.000000,9.000000,1149.000000,17.000000,249.000000,798.000000,8.000000,8.000000,...,1.000000,5.000000,1.000000,4.000000,3.000000,4.000000,4.000000,7.000000,13.000000,15.000000
max,585840.000000,2015.000000,2017.000000,12.000000,2337.000000,43.000000,713.000000,1321.000000,13.000000,14.000000,...,2.000000,5.000000,2.000000,6.000000,4.000000,5.000000,5.000000,10.000000,16.000000,17.000000

4. ¿Existen valores duplicados?

In [16]:
df.duplicated().sum()

0

Existen 192 filas duplicadas. Se eliminan los registros duplicados.

In [15]:
df.drop_duplicates(keep=False, inplace=True)

In [18]:
#df['HallwayType'].value_unique
df['HallwayType'].value_counts()

terraced    2302
mixed       1090
corridor     432
Name: HallwayType, dtype: int64

https://www.digitalocean.com/community/tutorials/exploratory-data-analysis-python